input, textarea{
    all: unset;
    width: 100%;
    @include font-style(28, $bk, NotoSans-Regular);
    &::placeholder {
        @include font-style(28, $placehorder, NotoSans-Regular);
    }
}
.input-wraper{
    display: flex;
    flex: 1;
    width: 100%;    
    border-radius: rem(5);
    height: rem(82);
    line-height: rem(82);
    border: 1px solid $border;
    margin-bottom: rem(20);  
    background-color: white;                  
    @include sidePadding(20);
   
}
.textarea-wraper{
    display: flex;
    flex: 1;
    width: 100%; 
    border-radius: rem(5);
    height: rem(153);
    border: 1px solid $border;
    margin-bottom: rem(20);  
    padding: rem(20) 0;
    background-color: white;                  
    @include sidePadding(20);
}
select {
    all: unset;
    width: 100%;
    @include background('../assets/image/icons/path-below.png', rem(36) rem(36), 98% 50%);
    @include font-style(28, $placehorder, NotoSans-Regular);
}
.select-placehorder{
    @include font-style(28, $placehorder, NotoSans-Regular);
}
.select-wraper {
    @include background('../assets/image/icons/path-below.png', rem(36) rem(36), 98% 50%);
}
.mx-datepicker{
    width: 100%!important;  
    margin-bottom: rem(20);  
    text-align: left;

    .mx-input{
        height: rem(82)!important;
    }
}
.readonly {
    background: #F5F5F5;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: rem(14);
    background: #F5F5F5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
#resister-post{
    padding-bottom: rem(100); 
    padding-top: rem(96);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 1.33rem);
    .section{
        background: white;
        margin-top: rem(14);
        .content-sub-title{
            margin-bottom: rem(15);
            display: flex;
            @include font-style(28, $purple, NotoSans-Regular);
            p{
                flex: 1;
            }
            .guide{
                flex-grow: 0;
                padding-right: rem(45);
                @include background('../assets/image/icons/question.png', rem(29) rem(29), 95% 50%);
                @include font-style(24, $gy, NotoSans-Regular);
            }
        }
        .title{
            height: rem(112);
            line-height: rem(112);
            border-bottom: 1px solid $border;
            display: flex;
            @include font-style(32, $bk, NotoSans-Regular);
            @include sidePadding(30);
            
            p{
                flex: 1;
            }
            .button{
                padding-right: rem(40);
                text-align: right;
                @include font-style(24, $gy, NotoSans-Regular);
                @include background('../assets/image/icons/path-right-gy.png', rem(36) rem(36), 100% 50%)
            }
        }
        .contents-wraper{
            @include font-style(28, $bk, NotoSans-Regular);
            @include sidePadding(30);
            .each-text-of-two{
                // width: max-content;
                height: rem(82);
                line-height: rem(82);
                text-align: right;
                
                @include sidePadding(15);
                @include font-style(28, $gy, NotoSans-Regular);
            }
            .inner-content{
                margin-top: rem(50);
                .wraper-two-div{
                    width: 100%;
                    display: flex;
                    .inner-wrap{
                        width: max-content;
                        display: flex;                        
                    }                  
                    .checkbox{               
                        margin-left: auto;  
                        height: rem(82);
                        line-height: rem(82);
                        padding-left: rem(50);
                        box-sizing: border-box;
                        @include background('../assets/image/icons/check-off.png', rem(42) rem(42), 0 50%);
                        @include font-style(28, $gy, NotoSans-Regular);
                    }
                    .on {
                        @include background('../assets/image/icons/check-on.png', rem(42) rem(42), 0 50%);
                    }
                
                }         
                .wraper-two-div-02{
                    display: flex;
                    margin-top: rem(20);
                    *{
                        flex:1;
                    }
                    .input-wraper{
                        margin-bottom: 0;
                        @include background('../assets/image/icons/clock.png', rem(32) rem(32), 95% 50%);
                    }
                    .mx-datepicker{
                        flex: none;
                        margin-right: rem(20);
                        width: rem(310)!important;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        margin-left: rem(20);
                    }
                }       
                .reject-notice{
                    margin-top: rem(10);
                    @include font-style(28, $bk, NotoSans-Regular);
                }
                
                .define-width{
                    flex: none;
                    width: rem(310)!important;
                }
                .two-wraper{
                    display: flex;
                    padding-right: 0;
                    input {
                        flex-grow: 1;
                    }
                    .search{
                        text-align: center;
                        border-left: 1px solid $border;
                        width: rem(110);
                        @include font-style(28, $gy, NotoSans-Regular);
                    }
                }
                .content-title{
                    display: flex;
                    margin-bottom: rem(10);
                    p{
                        flex-grow: 1;
                        @include font-style(28, $purple, NotoSans-Regular);
                    }
                  
                }
                .upload-picture{
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        align-self: center;
                        img{
                            width: rem(37);
                            vertical-align: middle;
                        }
                        p{
                            display: inline-block;
                            margin-left: rem(10);
                            @include font-style(28, $bk, NotoSans-Regular);
                            span{
                                @include font-style(28, $red, NotoSans-Regular);

                            }

                        }
                        
                    }
                }
                .notice{
                    margin-top: rem(30);
                    margin-bottom: rem(56);
                    @include font-style(24, $gy, NotoSans-Regular);
                    @include sidePadding(30);
                }
                .photo-list-area{
                    width: 100%;
                    background-color: $btn-bg;
                    border-radius: rem(10);
                    padding: rem(10) 0;
                    @include sidePadding(20);
                    .each-photo{
                        display: flex;
                        padding: rem(5) 0;
                        p{
                            flex-grow: 1;
                            @include font-style(28, #495057, NotoSans-Regular);
                        }
                        img{
                            width: rem(36);
                        }
                    }
                }
                .file-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: rem(27);
                        margin-right: rem(10);
                    }
                }
                &:last-child{
                    padding-bottom: rem(60);
                }
            }
            .two-checkbox-wraper{
                
                @include font-style(28, $gy, NotoSans-Regular);
                *{
                    flex: 1;
                }
                dl{
                    display: flex;
                    .checkbox-inner{
                        display: flex;                        
                        div{
                            padding-left: rem(60);
                            @include background('../assets/image/icons/check-off.png', rem(42) rem(42), 0 50%);
                        }
                        .on {
                            @include background('../assets/image/icons/check-on.png', rem(42) rem(42), 0 50%);
                        }
                    }
                    &:last-child{
                        margin-top: rem(20);
                    }
                }
             
            }
            .two-button-wrap{
                width: 100%;
                display: flex;
                height: rem(82);
                line-height: rem(82);
                border-radius: rem(10);
                margin-bottom: rem(20);
                background-color: $btn-bg;
                .each-button{
                    border: 1px solid $border;
                    text-align: center;
                    flex: 1;
                }
                .on{
                    background-color: white;
                    border: 1px solid $red;
                    color: $red;
                    img{
                        width: rem(22);
                        margin-right: rem(10);
                    }
                }
                .left {
                    border-left: none;
                    border-radius: 0 rem(10) rem(10) 0;
                }
                .right {
                    border-right: none;
                    border-radius: rem(10) 0 0 rem(10);
                }
                .border-radius-left {
                    border-radius: rem(10) 0 0 rem(10);
                }
                .border-radius-right {
                    border-radius: 0 rem(10) rem(10) 0;
                }
            }
            .check-available-party {
                @include font-style(24, $gy, NotoSans-Regular);
            }
        }
        &:last-child{
            
        }
    }

    .modal {
        z-index: 100;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: rem(550);
        background-color: white;
        border: 1px solid #495057;
        padding: rem(50) 0;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
        text-align: center;
        line-height: normal;
        @include sidePadding(40);
        .xButton{
            position: absolute;
            top:rem(10);
            right: rem(10);
            width: rem(52);
        }
        .explainImg{
            width: rem(361);
        }
        p{
            padding: rem(20) 0;
            @include font-style(24, $red, NotoSans-Regular);
        }
        dl{
            display: flex;
            border-top: 1px solid $border;
            padding-top: rem(20);
            @include font-style(24, $gy, NotoSans-Regular);
            ul{
                text-align: left;
                flex-grow: 1;
                padding-left: rem(60);
                box-sizing: border-box;
                font-weight: normal;
            }
            
        }
    }
    .register-alert{
        flex-grow: 1;
        text-align: center;
        padding-top: rem(150);
        background-color: white;
        width: 100%;
        height: 100%;
        line-height: normal;
        img {
            width: rem(126);
        }
        .notice{
            margin-top: rem(30);
            @include font-style(28, $bk, NotoSans-Regular);
            span{
                color: $red;
            }
        }
        .register-button {            
            border: 1px solid $border;
            border-radius: rem(10);
            width: rem(236);
            height: rem(76);
            line-height: rem(76);
            margin: 0 auto;
            margin-top: rem(50);
            @include font-style(28, $bk, NotoSans-Regular);
        }
    }
}
#result-post{
    text-align: center;
    margin-top: rem(96);
    min-height: calc(100vh - 1.33rem);
    line-height: normal;
    @include sidePadding(30);
    .top-aria{
        padding: rem(79) 0;
        
        h3{
            margin-bottom: rem(20);
            @include font-style(32, $blue, NotoSans-Regular);
        }
        p{
            @include font-style(24, $bk, NotoSans-Regular);
            span{
                color: $red;
            }
        }
    }
    .middle-aria{
        width: 100%;
        background-color: white;
        padding-bottom: rem(60);
        @include sidePadding(30);
        h3{
            padding: rem(40) 0 rem(35) 0;
            border-bottom: 1px solid  $border;
            @include font-style(28, $bk, NotoSans-Bold);
        }
        dl{
            margin-top: rem(30);
            dt{
                display: flex;
                *{
                    flex: 1;
                }
                .left {
                    text-align: left;
                    @include font-style(24, $gy, NotoSans-Regular);
                }
                .right {
                    text-align: right;
                    @include font-style(24, $bk, NotoSans-Regular);
                }
            }
        }
        .button{
            margin-top: rem(30);
            height: rem(68);
            line-height: rem(68);
            border: 1px solid $border;
            @include font-style(24, $bk, NotoSans-Regular);
        }
    }
    .bottom-section{
        text-align: left;
        margin-top: rem(40);
        h3{
            @include font-style(24, $red, NotoSans-Regular);
        }
        p{
            @include font-style(24, $gy, NotoSans-Regular);
        }
    }
}

#post-list {
    margin-top: rem(96);
}



#filterin-quiry-container{
    width: 100%;
    background-color: white;
    padding-top: rem(96);
    min-height: calc(100vh - 1.33rem);
    .container{
        @include sidePadding(30);
        .space-text-bar{
            margin: rem(20) 0 rem(20) 0;
            width: rem(640);
            padding-left: rem(20);
            height: rem(82);
            border-radius: rem(5);
            line-height: rem(82);
            border: 1px solid $border;
            @include font-style(28, $placehorder, NotoSans-Regular);  
        }
        .local-pick{
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            margin: rem(20) 0 rem(60) 0;
            width: rem(640);
            padding-left: rem(20);
            height: rem(82);
            line-height: rem(82);
            border: 1px solid $border;
            border-radius: rem(5);
            @include font-style(28, $placehorder, NotoSans-Regular);
                img{
                    padding-right: rem(10);
                    width: rem(26);
                    height: rem(31);
                }
        }
        .subtitle{
            margin-top: rem(60);
            margin-bottom: rem(15);
            @include font-style(28, $purple, NotoSans-Regular);
        }
        .choice-day{       
            width: rem(660);
            height: rem(82);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            line-height: rem(82);
            text-align: center;
            .choice-today{
                border: 1px solid $border;
                border-radius: rem(5) 0 0 rem(5);
                @include font-style(28, $gy-text, NotoSans-Regular);
            }
            .choice-oneweek{
                border-top: 1px solid $border;
                border-bottom: 1px solid $border;
                @include font-style(28, $gy-text, NotoSans-Regular);
            }
            .choice-onemonth{
                border: 1px solid $border;
                border-radius: 0 rem(5) rem(5) 0;
                @include font-style(28, $gy-text, NotoSans-Regular);
            }
        }
        .each-text-of-two{
            // width: max-content;
            height: rem(82);
            line-height: rem(82);
            text-align: right;
            @include sidePadding(15);
            @include font-style(28, $gy, NotoSans-Regular);
        }
        .input-container{
            display: grid;
            margin-top: rem(20);
            line-height: rem(82);
            display: flex;
            .input-text1{
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 1px solid $border;
                border-radius: rem(5);
                width: rem(280);
                height: rem(82);
                padding-left: rem(20);
                @include font-style(28, $placehorder, NotoSans-Regular);
                img{
                    padding-right: rem(20);
                    justify-self: end;
                    align-self: center;
                    width: rem(33);
                    height: rem(30);
                }
            }
            .input-image{
                text-align: center;
                img{
                    width: rem(17);
                    height: rem(28);
                }
            }
            .input-text2{
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 1px solid $border;
                border-radius: rem(5);
                width: rem(280);
                height: rem(82);
                padding-left: rem(20);
                @include font-style(28, $placehorder, NotoSans-Regular);
                img{
                    padding-right: rem(20);
                    justify-self: end;
                    align-self: center;
                    width: rem(33);
                    height: rem(30);
                }
            }
        }

        .wraper-two-div{
            width: 100%;
            display: flex;
            .inner-wrap{
                width: max-content;
                display: flex;                        
            }                  
            .checkbox{               
                margin-left: auto;  
                height: rem(82);
                line-height: rem(82);
                padding-left: rem(50);
                box-sizing: border-box;
                @include background('../assets/image/icons/check-off.png', rem(42) rem(42), 0 50%);
                @include font-style(28, $gy, NotoSans-Regular);
            }
            .on {
                @include background('../assets/image/icons/check-on.png', rem(42) rem(42), 0 50%);
            }
        
        }   
          
    }
    .bottom-container{
        padding-top: rem(60.5);
        margin-top: rem(60.5);
        border-top: 1px solid $border;
        @include sidePadding(30);
    }    
}

#select_region{
    background-color: white;
    min-height: calc(100vh - 1.33rem);
    padding-top: rem(96);
    
    .tab-aria{
        height: rem(96);
        display: flex;
        margin-bottom: rem(60);
        @include font-style(28, $gy, NotoSans-Regular);
        @include background('../assets/image/icons/path-right-gy.png', rem(36) rem(36), 50% 50%,#F9F4EB);
        dt {
            flex: 1;
            line-height: rem(96);     
            p{  
               
                height: rem(93);
                width: max-content;
                margin: 0 auto;
                padding: 0 rem(10);
            }
            .on {
               
                border-bottom: 3px solid $red;                
            }       
            .red-text {
                color: red!important;
            }
        }
    }
    .ctgr-list-section{
        text-align: center;
        display: flex;
        @include font-style(28, $gy, NotoSans-Regular);

        @supports (display: grid) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            display: -ms-grid;
            -ms-grid-columns : 1fr 1fr 1fr;
        }
        dt {
            height: rem(96);
        }
    }
}

#post-list{
    line-height: normal;
    .notice-section{
        height: rem(85);
        line-height: rem(85);
        text-align: center;
        @include noUrlBackgroundSetting(rem(106) rem(85), 0 0, $red);
        p{
            @include font-style(24, white, NotoSans-Regular);
        }
    }
    .list-section{
        margin-top: rem(14);
        background-color: white;
        .each-list-item{
            display: flex;
            border-bottom: 1px solid $border;
            padding: rem(40) 0 rem(37) 0;
            @include sidePadding(30);
            .left{
                flex-grow: 1;
                .top{
                    @include font-style(24, $bk, NotoSans-Regular);
                }
                .bottom{
                    margin-top: rem(10);
                    display: flex;
                   p {
                    &:last-child {
                        margin-left: rem(20);
                        padding-left: rem(20);
                        border-left: 1px solid $border;
                    }
                   }
                    @include font-style(24, $gy, NotoSans-Regular);

                }
            }
            .right{
                text-align: right;
                .top {
                    @include font-style(22, $gy, NotoSans-Regular);
                }
                @include font-style(24, $gy, NotoSans-Regular);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
